body {
  background: #fff;
  text-align: center;
}
.page-container {
  margin-top: 50px;
}
.grid-container {
  display: block;
  width: intrinsic;
  width: -moz-fit-content;
  margin: 30px auto 0 auto;
  background-color: #f00;
}
.cell {
  text-align: center;
  width: 35px;
  height: 20px;
  vertical-align: middle;
  display: block;
  margin-right: 1.5px;
  margin-bottom: 1.5px;
  float: left;
}
.cell > span {
  vertical-align: middle;
  display: block;
  margin-top: 10%;
  font-size: 0.8em;
  }
.prime-horizontals {
  float: left;
  display: block;
}
.prime-horizontal {
  background-color: #777;
  color: #fff;
}
.prime-verticals {
  float: left;
  display: block;
  clear: both;
}
.prime-vertical {
  background-color: #777;
  color: #fff;
  float: left;
  clear: both;
  vertical-align: middle;
}
.multiplieds {
  display: block;
  float: left;
}
.multiplied {
  background-color: #eee;
  color: #000;
}
h1 {
  margin-bottom: 30px;
}
.single-prime-container {
  margin-top: 50px;
}
.last-prime {
  font-size: 7em;
  margin: 0;
}
.input-qty {
  width: 100px;
  height: 35px;
  top: 2px;
  position: relative;
}