<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="gow" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="gow" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="gow" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="primes" ng-strict-di class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Primes</title>
  <meta name="description" content="Calculate 'n' primes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- build:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css"/>
  <!-- endbuild -->

</head>
<body>

 <div  class="container page-container" ng-controller="MainCtrl as mainCtrl">

    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

<h1>Multiplication Table of Prime Numbers</h1>

<input type="text" ng-keyup="$event.keyCode == 13 ? clickDisplayPrimes() : null" name="qty" class="input-qty" ng-model="store.qtyToFind">
<button ng-click="clickDisplayPrimes()" class="btn btn-success">Get Primes!</button>


<div primes ></div>




<!-- build:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="bower_components/angular-mocks/angular-mocks.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="app.js"></script>
<!-- endbuild -->

</body>
</html>
