<div class="grid-container" ng-class="{ 'show': store.showGrid, 'hide': !store.showGrid }">

  <div class="prime-horizontals">
    <div class="prime-horizontal cell"></div>
    <div class="prime-horizontal cell" ng-repeat="prime in store.primes">
      <span>{{ prime }}</span>
      </div>
      </div>

      <div class="prime-verticals">
      <div class="prime-vertical cell" ng-repeat="prime in store.primes">
      <span>{{ prime }}</span>
      </div>
      </div>

      <div class="multiplieds">
      <div class="multiplied" ng-repeat="primeV in store.primes">
        <div class="multiplied cell" ng-repeat="primeH in store.primes">
        <span>{{ primeV * primeH }}</span>
        </div>
        </div>
    </div>
</div>




<div class="single-prime-container" ng-class="{ 'show': store.showSinglePrime, 'hide': !store.showSinglePrime}">
  <h3>The {{ store.qty }}th prime is</h3>
  <h2 class="last-prime">{{ store.lastPrime }}</h2>
  <p>The table is too large to display.</br /> It will be displayed if you request {{ store.maxCanDisplay }} or less primes.</p>
</div>